<div class="container my-4">
  <h1>Shipping Information</h1>
  
<%= form_with(url: review_orders_path, method: :post, local: true, data: { turbo: false }) do |form| %>
    <div class="card mb-4">
      <div class="card-header">
        <h5 class="mb-0">Select Shipping Address</h5>
      </div>
      <div class="card-body">
        <% if current_user.customer.addresses.any? %>
          <div class="mb-3">
            <label for="address-province" class="form-label">Province <span class="text-danger">*</span></label>
            <select class="form-select" id="address-province" name="address[province_id]" required>
              <% Province.all.each do |province| %>
              <option value="<%= province.id %>">
                <%= province.display_name %>
              </option>
              <% end %>
            </select>
          </div>
          <div class="mb-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="use-new-address" name="use_new_address" value="1" <%= 'checked' if params[:use_new_address] == '1' %>>
              <label class="form-check-label" for="use-new-address">
                Use a new address
              </label>
            </div>
          </div>
        <% end %>
        
        <div id="new-address-form" <%= 'style="display:none;"' if current_user.customer.addresses.any? && params[:use_new_address] != '1' %>>
          <div class="mb-3">
            <label for="address-street" class="form-label">Street Address</label>
            <input type="text" class="form-control" id="address-street" name="address[street]">
          </div>
          <div class="mb-3">
            <label for="address-city" class="form-label">City</label>
            <input type="text" class="form-control" id="address-city" name="address[city]">
          </div>
          <div class="mb-3">
            <label for="address-province" class="form-label">Province <span class="text-danger">*</span></label>
            <select class="form-select" id="address-province" name="address[province]" required>
              <% @provinces.each do |province| %>
              <option value="<%= province[:name] %>">
                <%= province[:name] %> (GST & HST: <%= province[:gst] %>%, PST: <%= province[:pst] %>%)
              </option>
              <% end %>
            </select>
          </div>
          <div class="mb-3">
            <label for="address-postal" class="form-label">Postal Code</label>
            <input type="text" class="form-control" id="address-postal" name="address[postal_code]">
          </div>
        </div>
      </div>
    </div>
    
    <div class="d-flex justify-content-between">
      <%= link_to "Return to Cart", cart_show_path, class: "btn btn-outline-secondary" %>
      <button type="submit" class="btn btn-primary">Continue to Review Order</button>
    </div>
  <% end %>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const useNewAddressCheckbox = document.getElementById('use-new-address');
  const addressSelect = document.getElementById('address-select');
  const newAddressForm = document.getElementById('new-address-form');
  
  if (addressSelect && addressSelect.value && useNewAddressCheckbox && !useNewAddressCheckbox.checked) {
    newAddressForm.style.display = 'none';
  }
  
  if (useNewAddressCheckbox) {
    useNewAddressCheckbox.addEventListener('change', function() {
      if (this.checked) {
        if (addressSelect) {
          addressSelect.value = '';
          addressSelect.disabled = true;
        }
        newAddressForm.style.display = 'block';
      } else {
        if (addressSelect) {
          addressSelect.disabled = false;
        }
        newAddressForm.style.display = 'none';
      }
    });
  }
  
  if (addressSelect) {
    addressSelect.addEventListener('change', function() {
      if (this.value) {
        if (useNewAddressCheckbox) {
          useNewAddressCheckbox.checked = false;
        }
        newAddressForm.style.display = 'none';
      }
    });
    
    if (addressSelect.value) {
      const event = new Event('change');
      addressSelect.dispatchEvent(event);
    }
  }
});
</script>