<div class="container my-4">
<h1>Add New Address</h1>

<%= form_with(model: @address, local: true) do |form| %>
<% if @address.errors.any? %>
<div class="alert alert-danger">
<h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>
<ul>
<% @address.errors.full_messages.each do |message| %>
<li><%= message %></li>
<% end %>
</ul>
</div>
<% end %>

<div class="form-group mb-3">
<%= form.label :street, "Street Address", class: "form-label" %>
<%= form.text_field :street, class: "form-control" %>
</div>

<div class="form-group mb-3">
<%= form.label :city, "City", class: "form-label" %>
<%= form.text_field :city, class: "form-control" %>
</div>

<div class="form-group mb-3">
  <%= form.label :province_id, "Province", class: "form-label" %>
  <%= form.collection_select :province_id, Province.all, :id, :display_name, {}, class: "form-select" %>
</div>

<div class="form-group mb-3">
<%= form.label :postal_code, "Postal Code", class: "form-label" %>
<%= form.text_field :postal_code, class: "form-control" %>
</div>

<div class="form-group">
<%= form.submit "Add Address", class: "btn btn-primary" %>
<%= link_to "Cancel", addresses_path, class: "btn btn-outline-secondary" %>
</div>
<% end %>
</div>