<p style="color: green"><%= notice %></p>

<%= render @category %>

<div>
  <%= link_to "Edit this category", edit_category_path(@category) %> |
  <%= link_to "Back to categories", categories_path %>

  <%= button_to "Destroy this category", @category, method: :delete %>
</div>

<h2>Products in this Category:</h2>
<% @products.each do |p| %>
  <div>
    <strong><%= p.name %></strong> (<%= p.current_price %>)
    <%= link_to "View", product_path(p) %>
  </div>
<% end %>
