<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.number_field :price, step: 0.01 %>
  </div>

  <div>
    <%= label_tag :initial_price, "Initial Price", style: "display: block" %>
    <%= number_field_tag :initial_price, nil, step: 0.01 %>
  </div>

  <div>
  <%= form.label :category_ids, "Categories", style: "display: block" %>
  <% Category.all.each do |category| %>
    <div>
      <%= check_box_tag "product[category_ids][]", category.id, product.category_ids.include?(category.id), id: "category_#{category.id}" %>
      <%= label_tag "category_#{category.id}", category.name %>
    </div>
  <% end %>
  </div>

  <div>
    <%= form.label :photo, "Upload a photo", style: "display: block" %>
    <%= form.file_field :photo %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
