<!DOCTYPE html>
<html>
  <head>
    <title>Admin Login</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

      <%= stylesheet_link_tag "active_admin", media: "all", "data-turbo-track": "reload" %>
      <%= javascript_include_tag "active_admin", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
